// http://ionicframework.com/docs/v2/theming/

img {
  width: 100%;
  background-color: gainsboro;

  &.feedbackable {
    transition: .5s opacity;

    &:hover {
      opacity: 0.3;
    }
  }
}

.toast-button:focus {
  outline: 3px solid;
}

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/new/new";
@import "../pages/create/create";
@import "../pages/profile/profile";
@import "../pages/detail/detail";
@import "../pages/album/album";
