<ion-header>
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="true"
    (ionInput)="search($event)">
  </ion-searchbar>
</ion-header>

<ion-content class="newPictr">
  <ion-grid *ngIf="results && results.length">
    <ion-row>
      <ion-col width-33 class="fileSelector">
        <input type="file" (change)="fileSelected($event)">
        <img class="feedbackable" (click)="onPicSelected($event, results[0][0])" src="{{results[0][0].link}}" alt="{{results[0][0].title}}" />
      </ion-col>
      <ion-col width-33 *ngFor="let res of results[0].slice(1, 3)">
        <img class="feedbackable" (click)="onPicSelected($event, res)" src="{{res.link | imgur:'s'}}" alt="{{res.title}}" />
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let set of results.slice(1)">
      <ion-col width-33 *ngFor="let res of set">
        <img class="feedbackable" (click)="onPicSelected($event, res)" src="{{res.link | imgur:'s'}}" alt="{{res.title}}" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
